#root {
  width: max-content;
  margin: 0 auto;
  max-width: 800px;

  /* Color variables */

  --background-color: #2d2d2d;
  --letterDefault-color: #939393;
  --letterIncorrect-color: #ce3434;
  --letterMisplaced-color: #e3be28;
  --letterCorrect-color: #409c40;
}

body {
  padding: 3em;
  text-align: center;
}

.card {
  padding: 2em;
}
.wordlength {
  margin: 1em;
}

.guessInput {
  margin: 2em;
}

.pastGuesses,
.feedback {
  margin: 0;
  padding: 0;
}

.guessInput {
  input {
    margin: 0.5em 0 2em;
    width: 270px;
    height: 34px;
    font-size: 1.5em;
    letter-spacing: 10px;
    text-align: center;
  }

  button {
    height: auto;
    width: 80px;
  }
}

.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;

  h2 {
    color: #fff;
    margin: 10px;
  }

  p {
    color: #fff;
    margin: 1px;
  }
}

.modal form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.modal form input {
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
  border: #939393 1px solid;
  border-radius: 4px;
}

.modal form button {
  border: #939393 1px solid;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 15px;
}

.modal button {
  border: #939393 1px solid;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 2px;
}
